html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

/* body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
} */


body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

heading {
  font-size: 24px;
}

papertitle {
  font-weight: 700
}

name {
  font-size: 32px;
}

#introduction {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
  margin-top: 40px;
}

#news {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
}

#research {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:2px;  
}

#awards {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
}

.topbar a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.paperlinks{
  padding-top: 10px;
}

.research 
{
  line-height:150%
}

.awards 
{
  line-height:150%
}

.news 
{
  line-height:150%
}

.profileimage {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #707070,
             -20px -20px 60px #ffffff;
  /* margin-top: 17px; */
}

@media screen and ( max-width: 420px ){
  td>img {
    width: 120px;
    /* height: 70px; */
    border-radius: 50%;
  }
}
